<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4Mex__pSebhfO13BJpol5CyZQaJ3ybZU</string>
	<key>GCM_SENDER_ID</key>
	<string>636054365584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzletFluttter</string>
	<key>PROJECT_ID</key>
	<string>quizzlet-flutter-458c5</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzlet-flutter-458c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636054365584:ios:9beba5950de2e13e97ff15</string>
</dict>
</plist>